{% extends '_layouts/cp' %}

{% set title = 'Forms' %}

{% set crumbs = [
    { label: "Forms", url: url('dolphiq-craft3-forms-viewer') }
] %}

{% block actionButton %}
	<span class="btn" onClick="window.location.reload()" data-icon="refresh"></span>
{% endblock %}

{% set content %}
{% set rows = craft.forms.list() %}
{% if rows|length %}
	<div class="table-view">
		<table class="data fullwidth" style="table-layout: fixed;">
			<thead>
				<tr>
					<th style="width: 5%; padding-left: 10px;">#</th>
					{% if rows[0].type %}
						<th width="10%">Type</th>
					{% endif %}
					<th style="width: 15%;">Name</th>
					<th style="width: 20%;">Contact</th>
					<th style="width: 30%;">Additional</th>
					<th style="width: 5%; text-align: center;">Signup</th>
					<th style="width: 10%; padding-right: 10px; text-align: right;">Date</th>
				</tr>
			</thead>	
			<tbody>
				{% for row in rows %}
					<tr data-id="{{ row.id }}" style="{% if currentUser.lastLoginDate.timestamp <= row.date.timestamp %}background: #9c27b01a; {% endif %}">
						<td style="word-wrap: break-word; vertical-align: top; padding-left: 10px;">{{ row.id }}</td>
						{% if rows[0].type %}
							<td style="word-wrap: break-word; vertical-align: top;">{{ row.type }}</td>
						{% endif %}
						<td style="word-wrap: break-word; vertical-align: top;">{{ row.name }}</td>
						<td style="word-wrap: break-word; vertical-align: top;">
							{% for method, contact in row.contact %}
							<span style="color: #888888;">{{ method|ucfirst }}:</span><br> {{ contact }} <br>
							{% endfor %}
						</td>
						<td width="30%" style="word-wrap: break-word; vertical-align: top;">
							{% for key, value in row.form_data %}
							<span style="color: #888888;">{{ key|ucfirst }}:</span> {{ value }} <br>
							{% endfor %}
						</td>
						<td style="word-wrap: break-word; text-align: center; vertical-align: top;">
							<span style="background-color: {{ row.signup ? 'green' : 'red' }};  width: 8px; height: 8px; border-radius: 4px; display: inline-block;"></span>
						</td>
						<td style="word-wrap: break-word; padding-right: 10px; text-align: right; vertical-align: top;">
							{{ row.date .format('j M') }}{{ currentUser.lastLoginDate.format('Y') != row.date.format('Y') ? ' '~row.date.format('Y') : '' }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% else %}
	There have been no form submissions yet.
{% endif %}
{% endset %}